<!DOCTYPE html>
<html lang="en">

<head>
     <title></title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://cdn.tailwindcss.com/"></script>
</head>

<body class="bg-gray-300 flex w-full h-screen items-center justify-center">
     <form method="GET" action="/search">
          <input 
               type="text" 
               name="k" 
               placeholder="search for product here..." 
               class="p-3 w-fit rounded-lg" 
          />
          <button 
               type="submit" 
               class="bg-blue-500 text-white p-3 rounded-lg">
               Search
          </button>
     </form>
</body>

</html>
